body{
    background-color:  #f5f5f5;
}

.title{
    margin-top: 40px;
}

h2 {
    color: #fd9300;
    font-size: 100px;
}

input.new-todo:focus{
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #fd9300;
}

input.toggle:focus{
    outline: none !important;
}

input{
    border:2px solid #ddd;
    width: 100%;
}

.toggle{
    width: 50px;
}

.new-todo{
    padding: 16px 16px 16px 60px;
    border-radius: 10px;
    position: relative;
    font-size: 20px;
}

.todo-list .toggle{
    margin-top: 15px;
    margin-left: 90%;
}

.footer{
    margin: 40px;
    color: #e6b29d;
}

.round {
    width: 2.3em;
    height: 2.3em;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.round:checked {
    border: 3px solid #fd9300;
}

.destroy{
    padding-top: 20px;
    cursor: pointer;
    -webkit-appearance: none;
}